/* provided css */

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  line-height: 1.5;
  background-color: #d9dcd6;
}

h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* new css */

header {
  background-color: darkslategrey;
  font-family: monospace;
  color: whitesmoke;
}

h1 {
  display: inline-block;
  background-color: grey;
  height: 60px;
  width: 375px;
  font-size: 35px;
  font-weight: 100;
  text-align: center;
  text-align: right;
  padding-right: 7px;
  padding-top: 5px;
}

header nav {
  padding-top: 10px;
  margin-right: 10px;
  float: right;
  font-family: monospace;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  justify-content: baseline;
  margin-left: 20px;
}

a {
  color: whitesmoke;
  text-decoration-line: underline;
}

.banner-image {
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  margin-bottom: 30px;
}

.banner-image h2 {
  color: whitesmoke;
  font-weight: 100;
  background-color: grey;
  padding: 10px;
  margin: 10px;
}

.side-headings {
  width: 20%;
  background-color: grey;
}

#mainGrid {
  margin: 0px 5%;
  column-gap: 15px;
  row-gap: 20px;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 200px 400px 150px 150px 100px;
  grid-template-areas:
    "about-me about-text about-text"
    "projects main-project main-project"
    "filler small-project1 small-project2"
    "filler small-project3 small-project4"
    "contact contact-links contact-links"
  ;
}

#main-project {
  grid-area: main-project;
  background-image: url("../images/blue-pattern.jpg");
  background-size: cover;
}

#small-project1 {
  grid-area: small-project1;
  background-image: url("../images/blue-pattern.jpg");
}

#small-project2 {
  grid-area: small-project2;
  background-image: url("../images/blue-pattern.jpg");
}

#small-project3 {
  grid-area: small-project3;
  background-image: url("../images/blue-pattern.jpg");
}

#small-project4 {
  grid-area: small-project4;
  background-image: url("../images/blue-pattern.jpg");
  border-image: black 10px;
}

#filler {
  grid-area: filler;
}

#about-me {
  grid-area: about-me;
}

#about-text {
  grid-area: about-text;
}

#contact {
  grid-area: contact;
}

#contact-links {
  grid-area: contact-links;
}

.content-headings {
  display: grid;
  font-size: 50px;
  justify-content: right;
  padding-right: 30px;
  border-right: 4px solid black;
  margin-bottom: 10px;
}

#small-project1 h2,
#small-project2 h2,
#small-project3 h2, 
#small-project4 h2 {
  display: inline-block;
  background-color: grey;
  margin-top: 70px;
  height: 70px;
  width: 150px;
  font-weight: 100;
  text-align: center;
  padding: 10px;
}

#main-project h2 {
  display: inline-block;
  background-color: grey;
  margin-top: 315px;
  height: 70px;
  width: 350px;
  font-weight: 100;
  text-align: center;
  padding: 10px;
}